# Python
.venv/
.env
__pycache__/
*.pyc
.DS_Store


笔记/
*.md
image.png

.vscode/

# node
node_modules

dist/
build/

.env
.env.*
!.env.example

logs/
*.log

coverage/

.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json 
!.vscode/tasks.json
.idea/


/pic
*.md
note.md
.claude
/image
